<!DOCTYPE html>
<html>

<head>

    <title>Admin Dashboard</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

<div class="navbar">

    <h2>Admin Dashboard</h2>

    <a href="/">Home</a>

</div>


<div class="container">

    <h1>Survey Responses</h1>


    {% if responses %}

    <table>

        <tr>

            <th>Name</th>

            <th>Email</th>

            <th>Survey</th>

            <th>Question</th>

            <th>Answer</th>

        </tr>


        {% for response in responses %}

        <tr>

            <td>
                {{ response["name"] }}
            </td>

            <td>
                {{ response["email"] }}
            </td>

            <td>
                {{ response["title"] }}
            </td>

            <td>
                {{ response["question"] }}
            </td>

            <td>
                {{ response["answer"] }}
            </td>

        </tr>

        {% endfor %}

    </table>

    {% else %}

    <p>
        No survey responses yet.
    </p>

    {% endif %}

</div>

</body>

</html>